{% extends "base.html" %}

{% block title %}9: 高雄市交通事故統計{% endblock %}

{% block headmessage %}
<h3>高雄市交通事故統計</h3>
{% endblock %}

{% block content %}
    <h4>Motorcycle Accidents</h4>
    <ul>
      {% for accident in motorcycle_accidents %}
      <li>{{ accident.cause }}: {{ accident.count }}</li>
      {% endfor %}
    </ul>

    <h4>Small Car Accidents</h4>
    <ul>
      {% for accident in small_car_accidents %}
      <li>{{ accident.cause }}: {{ accident.count }}</li>
      {% endfor %}
    </ul>

    <h4>Bicycle Accidents</h4>
    <ul>
      {% for accident in bicycle_accidents %}
      <li>{{ accident.cause }}: {{ accident.count }}</li>
      {% endfor %}
    </ul>

    <h4>Pedestrian Accidents</h4>
    <ul>
      {% for accident in pedestrian_accidents %}
      <li>{{ accident.cause }}: {{ accident.count }}</li>
      {% endfor %}
    </ul>
{% endblock %}