{% extends "base.html" %}

{% block title %}Members of No. 9th Group{% endblock %}

{% block headmessage %}
<h2>第九組-高雄市交通事故統計 小組成員</h2>
{% endblock %}

{% block content %}
    <div class = "members">
        <table class = "table">
            <thead>
                <tr>
                    <th scope = "col"></th>
                    <th scope = "col">姓名</th>
                    <th scope = "col">學號</th>
                    <th scope = "col">系級</th>
                    <th scope = "col">工作分配</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </tbody>
        </table>
    </div>
    <style>
        .members{
            padding-left: 230px;
            padding-top: 50px;
            font-size: 22px;
        }
    </style>
{% endblock %}