{% extends "base.html" %}

{% block title %}Members of No. 9th Group{% endblock %}

{% block headmessage %}
<h2>第九組-高雄市交通事故統計 小組成員</h2>
{% endblock %}

{% block content %}
    <div class = "members" style = "text-align: center;">
        <table class = "table">
            <thead>
                <tr>
                    <th scope = "col"></th>
                    <th scope = "col">姓名</th>
                    <th scope = "col">學號</th>
                    <th scope = "col">系級</th>
                    <th scope = "col">工作分配</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>組長</th>
                    <th>溫翔旭</th>
                    <th>C109110138</th>
                    <th>電通三甲</th>
                    <th>後端網頁建置</th>
                </tr>
                <tr>
                    <th>組員</th>
                    <th>劉家豪</th>
                    <th>C111106241</th>
                    <th>營建一乙</th>
                    <th>資料蒐集、分析</th>
                </tr>
                <tr>
                    <th></th>
                    <th>蕭承洋</th>
                    <th>C111101138</th>
                    <th>工設一甲</th>
                    <th>資料蒐集、分析</th>
                </tr>
                <tr>
                    <th></th>
                    <th>楊忠諭</th>
                    <th>C110110105</th>
                    <th>電通二甲</th>
                    <th>前端網頁建置</th>
                </tr>
                <tr>
                    <th></th>
                    <th>林筠軒</th>
                    <th>C108113123</th>
                    <th>行銷四甲</th>
                    <th>資料蒐集、分析</th>
                </tr>
            </tbody>
        </table>
    </div>
    <style>
        .members{
            padding-left: 100px;
            padding-top: 30px;
            font-size: 22px;
        }
    </style>
{% endblock %}